<!DOCTYPE html>
<html lang="zh-CN">
<head>
 	<meta charset="UTF-8" />
	<title>页面布局案例1</title>
	<script type="text/javascript" src="../../../libs/phone.meta.js"></script>
	<link rel="stylesheet" type="text/css" href="../../../css/phone.css">
	<script type="text/javascript" src="../../../libs/jquery-3.1.1.js"></script>
	<script type="text/javascript" src="../../../js/phone.js"></script>
</head>
<body>

<div class="page" >
    <div class="page-header">首页</div>
    <div class="page-content-nofooter">内容</div>
</div>
</body>
</html>